div .blue{
	background-color: blue;
}
div .red{
	background-color: red;
}
ul .search-list{
	list-style-type: none;
}
li .search-list-li{
	display: none;
}
.fenge{
padding:12px 6px 0px 6px;
margin-left: 6px;
border-left: 1px solid #DCDCDC;
font-size: 0;
}
.fenge-all{
padding:10px 1px 800px 1px;
margin-left: 0px;
border-left: 1px solid #DCDCDC;
font-size: 0;
}
.gray-word{
	color:#DCDCDC;
}
.blue-word{
	color:blue;
}
.selected{
	color: #108EE9;
	border-color: #108EE9;
}

.radio-inline{
	margin-left: 0;
}
.gray-btn{
	background-color: lightgrey;
}
.selected-blue{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
}
.a-link{
	color: #000000;
}
.link-picture{
	color: red;
}
.no-border-all{
	border: 0px;
}
.no-border{
	border-left: 0px;
	border-right: 0px;
}
.search-btn{
	padding-top: 2px;
}
